@font-face {
    font-family: 'WillFont';
    src: url('https://willwilliam.tk/source/WillFont-Regular.ttf')
}

@font-face {
    font-family: 'WillFont-ex';
    src: url('https://willwilliam.tk/source/WillFontEx-Regular.ttf')
}

body {
    font-family: 'WillFont', 'WillFont-ex', Helvetica;
}

h1 {
    font-size: 150px;
    text-align: center;
    margin: 10px 50px;
}

h2 {
    font-size: 50px ;
    text-align: center;
    margin: 25px 50px;
}

nav {
    text-align: center
}

a {
    color: black
}

/* Classéo */
.texteo {
    text-align: center;
}

.und {
    text-decoration: none;
}

.texteomini {
    font-size: 50%;
    text-align: center;
}

.markeo {
    font-family: Helvetica;
}

.discordo {
    color: #7289da;
}

.logowill {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainwill {
    width: 404px;
    height: 502px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fuckyouluna { /*Fuck you lunatic luna*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 203px;
    height: 118px;
}

/* gallerys funny */

table, th  {
    border: 1px solid white;
  }

td {
    text-align: center;
}

.centré-tabla {
    margin-left: auto;
    margin-right: auto;
}

.centré-texto {
    text-align: center;
}

.lil-will {
    width: 30px;
    height: 36px;
}
