body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    text-align: center;
}


nav {
    text-align: center
}

a {
    color: black
}

/* Classéo */
.texteo {
    text-align: center;

}

.texteomini {
    font-size: 50%;
    text-align: center;
}

.logowill {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainwill {
    width: 404px;
    height: 502px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fuckyouluna { /*Fuck you lunatic luna*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 203px;
    height: 118px;
}

table, th  {
    border: 1px solid white;
  }

td {
    text-align: center;
}

.centré-tabla {
    margin-left: auto;
    margin-right: auto;
}

.centré-texto {
    text-align: center;
}


